*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
@font-face{
    font-family:"antigua";
    src: url("Pacifico-Regular.ttf");
}
body{
   background: url("imagenes/fotos/wallhaven-496446.jpg");
    margin-left : auto;
    margin-right : auto;
    width: 90%;
    max-width: 1200px;
}
.container{
    background-color: rgba(255,255,255,0.5);
    padding-right: 0em;
    padding-left: 2em;
    
}
h1{
    color:blueviolet;
    text-align: center;
    text-shadow: 2px 2px 2px 
}
.escuelas{
    
    max-width:  width: 49%;
    display: inline-block;
    vertical-align: middle;
    padding: 1em;
}