body{
   background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+")
}
/*nav{
    margin: 0 auto;   
 
}*/
h1{
    color:blueviolet;
    text-align: center;
}
h2
{
    text-align: center;
    color: darkblue;
    
}
.marco{
    margin-right: auto;
    margin-left: auto;
    display:inline-block;
    max-width: inherit; 
    max-height: inherit;
    border: solid;
    display:inline-block;
    text-align: center;
    background-color: darksalmon;
}
ol{
    color: black;
}
