*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
@font-face{
    font-family:"antigua";
    src: url("Pacifico-Regular.ttf");
}
body{
   background: url("imagenes/fotos/wallhaven-496446.jpg");
    margin-left : auto;
    margin-right : auto;
    width: 90%;
    max-width: 1200px;
}
.container{
    background-color: rgba(255,255,255,0.5);
    padding-right: 0em;
    padding-left: 2em;
    
}
.marco{
    padding: 10px;
    border: solid;
    text-align: center;
    background-color: rgba(255,2,211,0.3) ;
    display: inline-block;
    font-weight: bold;
    /*font-size: larger;*/
    /*text-decoration: black;*/
}
h2{
    border: 4px ridge purple;
    background-color: darkorchid;
    color: white;
}
article{
    padding: 12px;
    font-size: larger;
}
img{
    height: 200px;
    width: 250px;
   
}
.div-imagen {
    display:inline-block;
    position:relative;
}

.div-imagen > div {
    position:absolute;
    top:60px;
    text-align: center;
    z-index:-1;
   /* padding:10px;*/
    margin-left:30px;
    font-size: 2.5em;
}

.desvanecer:hover {
  opacity: 0.10;
 
}